<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>demo</title>

		<link
			href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div
			class="flex flex-col h-screen bg-white justify-center items-center"
		>
			<h1 class="text-4xl font-bold mb-10">
				청각 장애인을 위한 수어 변환기
			</h1>
			<div class="flex gap-4">
				<select
					id="language"
					name="language"
					class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
				>
					<option value="english">English</option>
					<option value="korean" selected>한국어</option>
				</select>
				<a
					class="inline-flex h-10 items-center justify-center rounded-md bg-gray-900 px-8 text-sm font-medium text-gray-50 shadow transition-colors hover:bg-gray-900/90 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-gray-950 disabled:pointer-events-none disabled:opacity-50"
					href="/webcam?lang=ko"
				>
					웹캠으로 진행
				</a>
				<a
					class="inline-flex h-10 items-center justify-center rounded-md bg-gray-900 px-8 text-sm font-medium text-gray-50 shadow transition-colors hover:bg-gray-900/90 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-gray-950 disabled:pointer-events-none disabled:opacity-50"
					href="/saved?lang=ko"
				>
					저장된 비디오로 진행
				</a>
			</div>
		</div>
		<footer class="w-full static text-center fixed bottom-0 pb-2">
			Copyright 2024. Team Infinity All rights reserved.
		</footer>
		<script>
			const language = document.getElementById("language");
			language.addEventListener("change", (event) => {
				const selectedLanguage = event.target.value;
				if (selectedLanguage === "english") {
					window.location.href = "/";
				} else if (selectedLanguage === "korean") {
					window.location.href = "/ko";
				}
			});
		</script>
	</body>
</html>
